{% load i18n %}<nav id="navbar">
    <div class="container clear">
        {% if request.user.is_authenticated %}
        <a href="{% url 'users:logout' %}" class="navbar-user fright">
            <i class="fa fa-user-o fa-lg" aria-hidden="true"></i>
            {{ request.user }} ({% trans "Logout" %})
        </a>
        {% else %}
        <a href="{% url 'users:signin' %}" class="navbar-user fright">
            <i class="fa fa-user-o fa-lg" aria-hidden="true"></i>
            {% trans "Sign in" %}
        </a>    
        {% endif %}
        <a href="{% url 'ads:create' %}" class="btn btn-new-ad fright">
            <i class="fa fa-plus" aria-hidden="true"></i>
            {% trans "Add new ad" %}
        </a>
    </div>
</nav>