{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Signup' %} {{ block.super }}{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/users_signup.css' %}">
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block content %}
    <section id="login-page">
        <div class="content container">
            <section id="login-form" class="shadow">
                <header class="login-text"><h2>{% trans 'Create new account' %}</h2></header>
                <form action="" method="post" class="form fblock">
                    {% csrf_token %}
                    <section class="form-inputs fblock">
                        {{ form.username }}
                        {% if form.username.errors %}
                            <div class="error_message">
                                {{ form.username.errors }}
                            </div>
                        {% endif %}
                        {{ form.password }}
                        {% if form.password.errors %}
                            <div class="error_message">
                                {{ form.password.errors }}
                            </div>
                        {% endif %}
                        {{ form.password_repeat }}
                        {% if form.password_repeat.errors %}
                            <div class="error_message">
                                {{ form.password_repeat.errors }}
                            </div>
                        {% endif %}
                        {{ form.terms }} {% trans 'Accept the terms of use.' %}
                        {% if form.terms.errors %}
                            <div class="error_message">
                                {{ form.terms.errors }}
                            </div>
                        {% endif %}
                    </section>
                    <div class="g-recaptcha" data-sitekey="6Lecxm8UAAAAAAQGyNcCrQwG3rcKomWHdi26Mhra"></div>
                    {% if recaptcha_respone %}
                        <div class="error_message">
                            <div class="errorlist">{% trans 'Recaptch error' %}</div>
                        </div>
                    {% endif %}
                    <button class="form-submit"><span class="fbold tupper">{% trans 'Sign up' %}</span></button>
                </form>
                <div class="links">
                    <span><a href="{% url 'users:signin' %}">{% trans 'Sign in' %}</a></span>
                    <a href="{% url 'ads:list' %}" style="float: right">{% trans 'Back to home page' %} <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
            </section>
        </div>
    </section>
{% endblock %}