{% extends 'base.html' %}
{% load pagination %}
{% load i18n %}
{% load static %}

{% block title %} {% trans "List of ads" %} {{ block.super }} {% endblock %}

# Static files
{% block head %}
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ads/css/ads_list.css' %}">

    <!-- JS -->
    <script type="text/javascript" src="{% static 'ads/js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'ads/js/search.js' %}"></script>
{% endblock %}
{% block content %}
    {% include 'header.html' %}
    <section id="search-main">
        <div class="container">
            <div class="inner">
                <form action="" method="get" id="form">
                    <div id="search" class="navbar-form">
                    <div class="row clear">
                        <div class="query">
                             {{ form.query }}
                        </div>
                        <div class="location">
                            {{ form.location }}
                        </div>
                    </div>
                </div>
                <div id="categories">
                    <ul>
                        <li class="item" id="cat-1">
                            <a>
                                <div class="icon"><i class="fa fa-car fa-2x" aria-hidden="true"></i></div>
                                <div class="icon-title">{% trans "Automotive" %}</div>
                            </a>
                        </li>
                        <li class="item" id="cat-2">
                            <a>
                                <div class="icon"><i class="fa fa-television fa-2x" aria-hidden="true"></i></div>
                                <div class="icon-title">{% trans "Electronics" %}</div>
                            </a>
                        </li>
                        <li class="item" id="cat-3">
                            <a>
                                <div class="icon"><i class="fa fa-bath fa-2x" aria-hidden="true"></i></div>
                                <div class="icon-title">{% trans "House and Garden" %}</div>
                            </a>
                        </li>
                        <li class="item" id="cat-4">
                            <a>
                                <div class="icon"><i class="fa fa-home fa-2x" aria-hidden="true"></i></div>
                                <div class="icon-title">{% trans "Immovables" %}</div>
                            </a>
                        </li>
                        <li class="item" id="cat-5">
                            <a>
                                <div class="icon"><i class="fa fa-book fa-2x" aria-hidden="true"></i></div>
                                <div class="icon-title">{% trans "Books" %}</div>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="item" id="cat-6">
                            <a>
                                <div class="icon"><i class="fa fa-gamepad fa-2x" aria-hidden="true"></i></div>
                                <div class="icon-title">{% trans "Games" %}</div>
                            </a>
                        </li>
                        <li class="item" id="cat-7">
                            <a>
                                <div class="icon"><i class="fa fa-futbol-o fa-2x" aria-hidden="true"></i></div>
                                <div class="icon-title">{% trans "Sport" %}</div>
                            </a>
                        </li>
                        <li class="item" id="cat-8">
                            <a>
                                <div class="icon"><i class="fa fa-truck fa-2x" aria-hidden="true"></i></div>
                                <div class="icon-title">{% trans "Farming" %}</div>
                            </a>
                        </li>
                        <li class="item" id="cat-9">
                            <a>
                                <div class="icon"><i class="fa fa-paw fa-2x" aria-hidden="true"></i></div>
                                <div class="icon-title">{% trans "Pets" %}</div>
                            </a>
                        </li>
                        <li class="item" id="cat-10">
                            <a>
                                <div class="icon"><i class="fa fa-film fa-2x" aria-hidden="true"></i></div>
                                <div class="icon-title">{% trans "Movies & Music" %}</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="search-filters">
                    <ul class="row">
                        <li class="item">
                            {{ form.condition }}
                        </li>
                        <li class="item">
                            {{ form.price_from }}
                        </li>
                        <li class="item">
                            {{ form.price_to }}
                        </li>
                        <li class="item">
                            {{ form.image_only }}
                            {{ form.image_only.label}}
                        </li>
                        <li class="item fright"><button class="search-button fbold" type="submit"><i class="fa fa-search" aria-hidden="true"></i> {% trans "Search" %}</button></li>
                    </ul>
                </div>
                </form>
            </div>
        </div>
    </section>
        <section id="search-result">
        <div class="container">
            <div class="top clear">
                <div class="fleft">
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">{% trans "All ads" %}</a></li>
                            <li class="breadcrumb-item active" id="active"><a href="" class="breadcrumb-link"></a></li>
                        </ol>
                    </nav>
                </div>
                <div class="fright sorting">
                    {% trans "sort by" %}: <span class="sort" id="time"><i class="fa fa-arrow-down"></i> {% trans "date" %}</span> <span class="sort" id="price"><i class="fa fa-arrow-down"></i> {% trans "price" %}</span>
                </div>
            </div>
            <div class="result">
                {% if not ads %}
                    <div class="noads tcenter fbold">{% trans "No ads" %}</div>
                {% else %}
                    <ul>
                        {% for ad in ads %}
                            <li class="result-item clear">
                                <table class="details">
                                    <tr>
                                        <td width="190px"><a href="#" class="bg-image"><img src="{{ ad.image.get_absolute_url }}" class="image" alt></a></td>
                                        <td class="detail">
                                            <h3><a href="#">{{ ad.title }}</a></h3>
                                            <div class="location">{% trans "Localization" %}: {{ ad.location }}</div>
                                            <div class="author" >{% trans "Added" %} {{ ad.pub_date|timesince }} {% trans "ago" %} {% trans "by" %} {{ ad.author }}</div>
                                        </td>
                                        <td>
                                            <h2 class="fright">{{ ad.price }} PLN</h2>
                                        </td>
                                    </tr>
                                </table>
                            </li>
                        {% endfor %}
                    </ul>
                    {% if ads %}
                        <div class="pagination">
                            {% if ads.has_previous %}
                                <a href="?{% pagination request ads.previous_page_number %}">&laquo;</a>
                            {% endif %}
                                <a href="" class="active">{{ ads.number }}</a>
                            {% if ads.has_next %}
                                <a href="?{% pagination request ads.next_page_number %}">&raquo;</a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>
    <footer id="footer">
        <p class="tcenter">{% trans "Source code available on" %} <a href="https://github.com/mfurga/django-shop">Github</a>.</p>
    </footer>
{% endblock %}