{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %} {% trans "List of ads" %} {{ block.super }} {% endblock %}

# Static files
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ads/ads_list.css' %}">
{% endblock %}
{% block content %}
    {% include 'header.html' %}
    <section id="search-main">
        <div class="container">
            <div class="inner">
                <form action="" method="get" id="form">
                    <div id="search" class="navbar-form">
                    <div class="row clear">
                        <div class="query">
                            <input id="query" name="q" type="search" class="search-input" placeholder="{% trans "What are you looking for?" %}">
                        </div>
                        <div class="location">
                            <input id="location" name="location" type="search" class="search-location" placeholder="{% trans "Location" %}" >
                        </div>
                    </div>
                </div>
                <div id="categories">
                    <ul>
                        <li class="item" id="cat-1">
                            <a>
                                <div class="icon"><i class="fa fa-car fa-2x" aria-hidden="true"></i></div>
                                <div class="icon-title">{% trans "Automotive" %}</div>
                            </a>
                        </li>
                        <li class="item" id="cat-2">
                            <a>
                                <div class="icon"><i class="fa fa-television fa-2x" aria-hidden="true"></i></div>
                                <div class="icon-title">{% trans "Electronics" %}</div>
                            </a>
                        </li>
                        <li class="item" id="cat-3">
                            <a>
                                <div class="icon"><i class="fa fa-bath fa-2x" aria-hidden="true"></i></div>
                                <div class="icon-title">{% trans "House and Garden" %}</div>
                            </a>
                        </li>
                        <li class="item" id="cat-4">
                            <a>
                                <div class="icon"><i class="fa fa-home fa-2x" aria-hidden="true"></i></div>
                                <div class="icon-title">{% trans "Immovables" %}</div>
                            </a>
                        </li>
                        <li class="item" id="cat-5">
                            <a>
                                <div class="icon"><i class="fa fa-book fa-2x" aria-hidden="true"></i></div>
                                <div class="icon-title">{% trans "Books" %}</div>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="item" id="cat-6">
                            <a>
                                <div class="icon"><i class="fa fa-gamepad fa-2x" aria-hidden="true"></i></div>
                                <div class="icon-title">{% trans "Games" %}</div>
                            </a>
                        </li>
                        <li class="item" id="cat-7">
                            <a>
                                <div class="icon"><i class="fa fa-futbol-o fa-2x" aria-hidden="true"></i></div>
                                <div class="icon-title">{% trans "Sport" %}</div>
                            </a>
                        </li>
                        <li class="item" id="cat-8">
                            <a>
                                <div class="icon"><i class="fa fa-truck fa-2x" aria-hidden="true"></i></div>
                                <div class="icon-title">{% trans "Farming" %}</div>
                            </a>
                        </li>
                        <li class="item" id="cat-9">
                            <a>
                                <div class="icon"><i class="fa fa-paw fa-2x" aria-hidden="true"></i></div>
                                <div class="icon-title">{% trans "Pets" %}</div>
                            </a>
                        </li>
                        <li class="item" id="cat-10">
                            <a>
                                <div class="icon"><i class="fa fa-film fa-2x" aria-hidden="true"></i></div>
                                <div class="icon-title">{% trans "Movies & Music" %}</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="search-filters">
                    <ul class="row">
                        <li class="item">
                            <select id="condition" class="condition" name="condition">
                                <option style="color: #797979" disabled selected>{% trans "Choose condition" %}</option>
                                <option value="0">{% trans "Usage" %}</option>
                                <option value="1">{% trans "New" %}</option>
                            </select>
                        </li>
                        <li class="item"><input id="min" name="min" class="price" type="number" min="0" placeholder="{% trans "Price from" %}"></li>
                        <li class="item"><input id="max" name="max" class="price" type="number" min="0" placeholder="{% trans "Price to" %}"></li>
                        <li class="item">
                            <input id="p" name="p" class="checkbox" type="checkbox" value="1">
                            <label for="p">{% trans "Only with a photo" %}</label>
                        </li>
                        <li class="item fright"><button class="search-button fbold" type="submit"><i class="fa fa-search" aria-hidden="true"></i> {% trans "Search" %}</button></li>
                    </ul>
                </div>
                </form>
            </div>
        </div>
    </section>
    <footer id="footer"></footer>
{% endblock %}